@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open sans', sans-serif;
    font-size: 15px;
}

body {
    background-color: rgb(255, 254, 254);
}

.header {
    background-color: rgb(255, 254, 254);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo {
    cursor: pointer;
    margin-right: auto;
}

.header .logo img {
    height: 40px;
    width: auto;
    transform: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;
    font-weight: bold;
    margin-right: 20px;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: 1.1;
}

.header .nav-links a {
    font-size: 700;
    color: #050505;
    text-decoration: none;
    margin-right: auto;
}

.header .nav-links li a:hover {
    color: #ff556e;
}

.header .btn button {
    font-weight: 700;
    color: #ff556e;
    padding: 9px 25px;
    background: #fdfdfd;
    border-radius: 50px;
    border-color: #ff556e;
    cursor: pointer;
    transition: all 0.3s ease 0;
}

.header .btn button:hover {
    background-color: #ff556e;
    color: #ffffff;
    transform: scale(1.1);
    
}

.dropdown {
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ff556e;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* #ff556e */