@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open sans', sans-serif;
}

/* Contenedor principal que aplica flexbox */
.book-container {
    display: flex;
}

/* Estilo para la sección de texto */
.organize-your-time {
    max-width: 60%;
    margin-bottom: 10px;
}

.organize-your-time h1 {
    font-size: 3em; 
    margin-bottom: 10px; 
    color: black;
}

.organize-your-time p, ul {
    line-height: 2;
    color: grey;
}

/* Estilo para la lista dentro de la sección de texto */
.list-organize-t {
    list-style-type: square;
    margin-left: 5%;;
}

.list-organize-t li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn button {
    font-weight: 700;
    color: #ffffff; 
    padding: 9px 25px;
    margin: 10px 5px 0px 5px;
    background: #ff556e;
    border: solid 2px #ff556e;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0;
    position: relative;
    text-transform: uppercase;
}

.btn button:hover {
    background-color: #ff556e;
    color: #f7fafd;
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 85, 110, 0.8); 
}

.section-imageorganize {
    margin-bottom: 20px;
}

/* Estilo para la sección de imagen */
.imageorganize {
    max-width: 90%;
    display: flex;
}

/* Ajustes específicos para dispositivos móviles */
@media (max-width: 768px) {
    .book-container {
        flex-direction: column; /* Cambia a una disposición de columna en dispositivos móviles */
    }

    .organize-your-time,
    .imageorganize {
        max-width: 100%; /* Ocupa todo el ancho en dispositivos móviles */
        margin-left: auto;
        margin-right: auto;
    }
}