@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open sans', sans-serif;
}

body {
    background-image: url('../images/page1background.png');  
    background-size: 100%;
    background-position: center; 
    background-repeat: no-repeat;
}

.section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: gray;
    margin: 50px 25px 5px 25px;
}

.main-text {
    max-width: 72ch;
}

.section-text h1 {
    font-size: 3em; 
    margin-bottom: 10px; 
    color: black;
}

.download-btn {
    text-align: center;
    margin: 25px 10px 25px 10px;
}

.download-btn .btn button {
    font-weight: 700;
    color: #ffffff; 
    padding: 9px 25px;
    margin: 0px 5px 0px 5px;
    background: #ff556e;
    border: solid 2px #ff556e;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0;
    position: relative;
    text-transform: uppercase;
}

.download-btn .btn button::before {
    margin-right: 5px;
}

.play-btn .btn button::before {
    margin-right: 5px;
}

.download-btn .btn button:hover,
.play-btn .btn button:hover {
    background-color: #f7fafd;
    color: #ff556e;
    transform: scale(1.1);
}

.apple-icon {
    font-family: 'SF Pro Display', 'Apple Color Emoji', 'Segoe UI Emoji', sans-serif;
    margin-right: 5px; 
}

@keyframes shake {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-5px, 5px); }
    50% { transform: translate(5px, -5px); }
    75% { transform: translate(5px, 5px); }
    100% { transform: translate(-5px, -5px); }
  }
  
  .imagephone {
    max-width: 40%;
    height: 40%;
    display: flex;
    margin: 0 auto;
    margin-top: 75px;
    animation: shake 0.5s ease-in-out infinite; 
  }

.section-icons {
    text-align: center;
    padding: 20px 0;
    margin-left: 30%;
    margin-right: 30%;
}

.icon-identify-goals {
    display: inline-block;
    background-color: #ebe7fa;
    border-radius: 50%; 
    padding: 14px;
    height: 70px;
    width: 70px;
    font-size: 30px;
    border-color: #ebe7fa;
    color: #aa7eec;
    margin-bottom: 10px;
}

.icon-situation-analysis {
    display: inline-block;
    background-color: #daf4ef;
    border-radius: 50%; 
    padding: 14px;
    height: 70px;
    width: 70px;
    font-size: 30px;
    border-color: #daf4ef;
    color: #1bca95; 
    margin-bottom: 10px;
}

.icon-task-settings {
    display: inline-block;
    background-color: #f8e5ea;
    border-radius: 50%; 
    padding: 14px;
    height: 70px;
    width: 70px;
    font-size: 30px;
    border-color: #f8e5ea;
    color: #fe556e; 
    margin-bottom: 10px;
}

.icon-social-interaction {
    display: inline-block;
    background-color: #f8f1de;
    border-radius: 50%; 
    padding: 14px;
    height: 70px;
    width: 70px;
    font-size: 30px;
    border-color: #f8f1de;
    color: #ffb310; 
    margin-bottom: 10px;
}

.icon-get-things {
    display: inline-block;
    background-color: #e1f2fa;
    border-radius: 50%; 
    padding: 14px;
    height: 70px;
    width: 70px;
    font-size: 30px;
    border-color: #e1f2fa;
    color: #4fb9e8; 
    margin-bottom: 10px;
}

.row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.column {
    flex: 0 0 23%;
    margin-bottom: 15px;
}

.single-image {
    max-width: 100%;
    margin-bottom: 10px;
}

.column p {
    font-weight: bold;
    text-transform: capitalize;
}

@media (min-width: 600px) {
    .column {
        flex: 0 0 48%; 
        max-width: 48%;
    }
}

@media (min-width: 768px) {
    .column {
        flex: 0 0 31%; 
        max-width: 31%;
    }
}

@media (min-width: 992px) {
    .column {
        flex: 0 0 23%;
        max-width: 23%;
    }
}